<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
      </httpHandlers>
    </system.web>

  <appSettings>
    <add key="whitePath" value="auth/heartbeat"/>
  </appSettings>

  <connectionStrings>
    <add name="OB_Trans8_DB_ConStr_Dev" connectionString="server=192.168.0.14;database=Transfer8Pro;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient"/>
    <!--下是正式数据库配置-->
    <add name="OB_Trans8_DB_ConStr" connectionString="server=192.168.0.123\Sql2012;database=Transfer8Pro;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors existingResponse="PassThrough"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>
