
<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125"><i class="icon-sitemap"></i> 系统内部错误</span>
        </h1>
        <hr />
        <h3 class="lighter smaller">@ViewData["Description"]</h3>
    </div>
</div>

