<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDBConnectStr"  connectionString="Data Source={0};Version=3;"/>
  </connectionStrings>

  <appSettings>
    <!--D:\DataBase\Transfer8.db-->
    <add key="SQLitePath" value="D:\DataBase\Transfer8.db"/>  
    <add key="NormalFilePath" value="NormalDataFile"/>
    <add key="CompressFilePath" value="CompressDataFile"/>
    <add key="UploadFileBackpath" value="UploadFileBackup"/>
    <add key="AutoHeartbeatCron" value="0 0/1 * * * ? *"/>   
    <!--15 ryAMo6vKkntyOXF3v1z/kwTRZTZhsaekqPLT/l58wD9g2eP42qg96FHwODa2elzrbptr4n2wr+8sZyXaeIKdJw== -->
    <!--update L+7VxErcddFcda8l36IjF8BgYJ12ZbxjW2LApY6OrpYFE2zryNPpJoJ7JRzfIpAN89DxXqyU3thKKat5+IARRuB5FnX8vqv/hodk4BmFncY=-->
    <add key ="UpdateServer" value="L+7VxErcddFcda8l36IjF8BgYJ12ZbxjW2LApY6OrpYFE2zryNPpJoJ7JRzfIpAN89DxXqyU3thKKat5+IARRuB5FnX8vqv/hodk4BmFncY="/>   
    <!--1 AoakQPdxpaIzPHtu86jPgA==-->
    <!--2 rtmHN9vfP+IsT0U6OiQy+g==-->
    <add key="OpenBookSystemType" value="rtmHN9vfP+IsT0U6OiQy+g=="/>
    <!--t8pro  FkZ2N4+aHrsMKQOGDT6LnffBRmnn8fovcDeIL9m4UYmOv5XSbPRcKFOEYPGeUnaSl80WCRhfiL93TK+NF8jNdQ== -->
    <!--localhost J1YDumOWJYyvRqH04giWVgsBdwgGENXx4xuhgsk9JMXB7O5oCdmHFXrR3tiD+nXp-->
    <add key="OpenBookWebAPI" value="FkZ2N4+aHrsMKQOGDT6LnffBRmnn8fovcDeIL9m4UYmOv5XSbPRcKFOEYPGeUnaSl80WCRhfiL93TK+NF8jNdQ=="/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite, Version=1.0.109.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"    />
    </DbProviderFactories>
  </system.data>
</configuration>