<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDBConnectStr"  connectionString="Data Source={0};Version=3;"/>
    <!--<add name="OB_Trans8_DB_ConStr_Dev" connectionString="server=192.168.0.14;database=Transfer8Pro;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient" />-->
    <add name="OB_Trans8_DB_ConStr_Dev" connectionString="server=192.168.0.123\Sql2012;database=Transfer8Pro;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient"/>
    <!--下是正式数据库配置-->
    <add name="OB_Trans8_DB_ConStr" connectionString="server=192.168.0.123\Sql2012;database=Transfer8Pro;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>    
    <add key="SQLitePath" value="D:\DataBase\Transfer8.db"/>    
    <add key="NormalFilePath" value="NormalDataFile"/>
    <add key="CompressFilePath" value="CompressDataFile"/>
    <add key="UploadFileBackpath" value="UploadFileBackup"/>  
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite, Version=1.0.109.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"    />
    </DbProviderFactories>
  </system.data>
</configuration>